%h3
  Produkty w koszyku

- @cart.each_with_index do |product, index|
  %p
    Nazwa:
    =product.name
    %br
    Cena:
    =product.value
    =link_to "Usuń z koszyka", {:controller => "cart" , :action => "delete", :product_number =>  index}

= link_to "Złóż zamówienie", new_order_path
%br
= link_to "Wróć do strony z produktami", products_path
  
