%div.main
  %h1
    Witaj na stronie z produktami

=link_to "Produkty", products_path
%br
=link_to "Zamówienia", orders_path
%br
=link_to "Panle administartora (login: admin@admin.pl, hasło: admin1234)", admin_root_path
