-@cart.each do |product|
  =product.name
  =product.value
  %br
  %br
  
%h2
  Produkty

- @products.each do |product|
  %p
    %span
      Nazwa:
      =product.name
    %br
    %span
      Cena:
      =product.value
    = link_to "dodaj do koszyka", index_add_to_cart_product_path(product)
    
= link_to "Koszyk", cart_path
